.box {
    height: 7vh;
    width: 140px;
    margin: 7px;
    border-radius: 14px;
    text-align: center;
    font-size: large;
}

.box:hover {
    box-shadow: 3px 3px 2px 0px grey;
}

.fizz-bg {
    background-color: rgb(134, 63, 148);   
}

.buzz-bg {
    background-color: rgb(51, 101, 180);
}

.fizzbuzz-bg {
    background-color: rgb(131, 127, 138);
}

.none-bg {
    background-color: rgb(218, 206, 206);
}

body {
    background-color: rgb(212, 195, 177);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-h {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.inner-cont {
    display: flex;
    flex-wrap: wrap;
}

.span {
    margin: 5px;
}

input {
    margin: 5px;
}

button {
    margin: 5px;
}

footer {
    margin-top: 25px;
}



